<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
        <source src="assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="caption">
                        <h6>Formación continua</h6>
                        <h2>Buscador de cursos</h2>
                        <p>Clasificador de cursos y tutoriales. Puedes buscar rutas formativas para los siguientes tipos
                            de proyectos
                            <a rel="nofollow" href="/find/front" target="_blank">Front</a>,
                            <a rel="nofollow" href="/find/back" target="_blank">Back</a>,
                            <a rel="nofollow" href="/find/fullstack" target="_blank">FullStack</a>,
                            <a rel="nofollow" href="/find/mobile" target="_blank">Mobile</a>,
                            <a rel="nofollow" href="/find/data" target="_blank">Data y IA</a>,
                            <a rel="nofollow" href="/find/videogames" target="_blank">Videogames</a> o
                            <a rel="nofollow" href="/find/electronic" target="_blank">Electrónica</a>
                        </p>
                        <div class="main-button-red">
                            <div class="scroll-to-section"><a href="#contact">Contacta con nosotros</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>